# DEVELOPMENT ONLY
# NOT FOR PRODUCTION

VSPHERE_USERNAME=user
VSPHERE_PASSWORD=pass
VSPHERE_URL=https://vcsim:8989/sdk

OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-lgtm:4317
OTEL_SERVICE_NAME=iaas-sim

DEX_ISSUER=http://dex:5556/dex
API_BASE_URL=http://localhost:8000

# OpenTelemetry SDK defaults
OTEL_RESOURCE_ATTRIBUTES=service.name=iaas-sim,service.namespace=local
